%h1 Shopping Cart

- @cart.events.each do |event|
  %h2= event.name
  %div{id: dom_id(event)}
    %table.table
      %thead
        %tr
          %th Date
          %th Tickets
          %th Total Price
      %tbody
        - @cart.performances_for(event).each do |performance|
          %tr{id: dom_id(performance)}
            %td= performance.start_time.to_date.to_s(:long)
            %td.ticket_count= @cart.performance_count[performance.id]
            %td.subtotal
              = humanized_money_with_symbol(@cart.subtotal_for(performance))

%h3 Total #{humanized_money_with_symbol(@cart.total_cost)}

%h2 Checkout

//##START: code.credit_card_form
%h3 Credit Card Info

= form_tag orders_path, class: "credit-card-form form-horizontal", id: "order-form" do
  = hidden_field_tag(:purchase_amount_cents, @cart.total_cost.cents)

  .bg-danger#error-text

  .form-group
    .col-sm-2
      = label_tag(:credit_card_number, "Credit Card Number",
        class: "control-label")
    .col-sm-2
      %input.form-control.valid-field{"data-stripe": :number,
        id: "credit_card_number"}
    .col-sm-1
      = image_tag("creditcards/credit.png", id: "card-image")

  .form-group
    .col-sm-2
      = label_tag(:expiration_date, "Expiration Date", class: "control-label")
    .col-sm-2
      %input.form-control.valid-field{placeholder: "MM / YY",
        "data-stripe": :exp, id: "expiration_date"}

  .form-group
    .col-sm-1
      = label_tag(:cvc, "CVC", class: "control-label")
    .col-sm-1
      %input.form-control.valid-field{"data-stripe": :cvc, id: :cvc}

  .form-group
    .col-sm-3
      = submit_tag("Purchase Cart", class: "btn btn-primary", id: "purchase")
//##START: code.credit_card_form
